# Node/React
frontend/dashboard/node_modules/
frontend/dashboard/public/

# Python/Flask
backend/venv/
backend/node_modules/
backend/__pycache__/
backend/**/*.pyc/
backend/.env/
backend/app_13_5_25.py/
backend/app_22_05.py/
backend/routes/auth.py/
# Logs
*.log


# Tests / couverture
.coverage
htmlcov/
coverage.xml

# Global
.DS_Store
.env
